*{
    padding : 0px;
    margin : 0px;
}

body{
    background-color : black;
    display: flex;
    justify-content : center;
    align-items : center;
}

:root{
    --cell-size : 100px;
}
#chess-board{
    background-color : red;
    width : calc(var(--cell-size)*8);
    height : calc(var(--cell-size)*8);
    display: grid;
    grid-template-columns: repeat(8,var(--cell-size));
}

.cell{
    background-color: green;
    border : 1px solid black;
    width :var(--cell-size);
    height : var(--cell-size);
}

.c1{
    background-color : rgb(249, 225, 173);
}

.c2{
    background-color : rgb(245, 215, 95);
}

img{
    pointer-events: none;
}