*{
    margin:0;
    padding:0;
    box-sizing : none;
}
body{
    background-color : rgb(31, 30, 56);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#input-container{
    display: flex;
    width:100%;
    height:10vh;
    margin-bottom : 10vh;
    justify-content : space-between;
}

#visualizer{
    width:100%;
    height:50vh;

    display : flex;
    justify-content: center;
}

.btn{
    background-color :rgb(31, 30, 56);
    border : 3px solid aquamarine;
    padding : 20px;
    color :aquamarine;
    font-size : 1em;
    border-radius : 10px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    background-color: aquamarine;
    color : rgb(31, 30, 56);
}

.rand-btn{
    background-color :rgb(31, 30, 56);
    border : 3px solid rgb(42, 252, 42);
    padding : 20px;
    color :rgb(42, 252, 42);
    font-size : 1em;
    border-radius : 10px;
    transition: 0.1s ease-in-out;
}
.rand-btn:hover{
    background-color: rgb(42, 252, 42);

}

.custom-text{
    color : white;
    font-size : 2em;
}

#title-text{
    display: flex;
    align-items : center;
    justify-content: center;
    color: white;
    font-size : 5em;
    margin-bottom : 20px;
}